*{
    margin: 0%;
}

section{
    padding: 0px 0;
    overflow: hidden;
    background-color:  #f5f8fd;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 9997;
    transition: all .5s;
    padding: 15px;
    overflow-y: auto;
    background-color: transparent;
}


a {
    text-decoration: none
}

.nav-link>a{
    display: flex;
    align-items: center;
    color: #45505b;
    padding: 10px 18px;
    margin-bottom: 8px;
    transition: .3s;
    font-size: 15px;
    border-radius: 55px;
    background: #f4e5ce;
    height: 56px;
    width: 29%;
    overflow: hidden;
    transition: .3s;
}

i{
    font-size: 20px;
}

.nav-link a:hover{
    color: #fff;
    background: #1f1b61;
    width: 100%;
}

span{
    padding: 0 7px 0 50px;
    color: #fff;
}

.principal{
    background-image:  linear-gradient(90deg, rgba(29, 19, 19, 0.507) 0%, rgba(255, 255, 255, 0.304) 50%, rgba(0, 212, 255, 0) 100%), url('/Imagens/foto\ studio\ nova.jpeg');
    background-repeat: none;
    background-position: right 0;
    background-size: cover;
    width: 100%;
    height: 100vh; 
}

.espaco {
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 20px;
    color: #000000;
}

.titulo_3{
    font-size: 80px;
    font-weight: bold;
    font-family: cardo;
    color: rgba(255, 123, 41, 1);
}

.treino{
    font-size: 35px;
    line-height: 15px;
}

.titulo_1{
    font-size: 70px;
    font-weight: bold;
    font-family: inter, sans-serif;
    color: rgba(255, 123, 41, 1);
}

.fundo{
    background-color: #f5f8fd;;
    height: auto;
    color: #000000;
}

.text{
    color: #060606;
    font-size: 30px;
    width: 520px;
    height: 460px;
    margin: auto;
    overflow: hidden;
    text-align: center;
    border-radius: 5px;
    font-family: mixed;
}

.fundo_dois{
    background-color:#f5f8fd;
    height: auto;
    color: #000000;
}

.professor {
    font-family: inder;
    font-size: 20px;
}

.biografia {
    font-size: 30px;
    width: 520px;
    height: 460px;
    margin: auto;
    overflow: hidden;
    text-align: center;
    border-radius: 5px;
    font-family: mixed;
}

.name{
    color:  #FF6B00;
}

.fundo_tres{
    background-color: #f5f8fd;
    height: auto;
    color: #000000;
}

.plano_one{
    width: 180px;
    height: 150px;
    background-color: #FF6B00;
    border-radius: 20px;
}

.plano_one:hover{
    background-color: #ffffff;
    transition: 1,5s;
    width: 185px;
    height: 155px;
    cursor: pointer;
    
}

.plano_two{
    width: 180px;
    height: 150px;
    background-color: #FF6B00;
    border-radius: 20px;
}

.plano_two:hover{
    background-color: #ffffff;
    transition: 1,5s;
    width: 185px;
    height: 155px;
    cursor: pointer;
    
}

.plano_three{
    width: 180px;
    height: 150px;
    background-color: #FF6B00;
    border-radius: 20px;
    overflow: hidden;
    
}

.plano_three:hover{
    background-color: #ffffff;
    color: #101010;
    transition: 1,5s;
    width: 185px;
    height: 155px;
    cursor: pointer;

}

.one{
    position: relative;
    top: 15px;
    font-family: 'Inder';
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    color: #101010;
}

.two{
    position: relative;
    top: 15px;
    font-family: 'Inder';
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    color: #101010;
}

.three{
   position: relative;
   top: 15px;
   font-family: 'Inder';
   font-weight: bold;
   font-size: 20px;
   line-height: 28px;
   color: #101010;
   
}

.conhece > h3 {
    width: 472px;
    height: 500px;
    font-size: 36px;
    line-height: 47px;
    list-style: 30px;
    position: relative;
    top: 60px;
}
